/*Base style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}	
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: black;
    overflow-x: hidden;
}
.hero{
    height: 50vh;
    display:flex;
    align-items: center;  
    justify-content: center; 
    background: linear-gradient(135deg, rgb(80, 155, 234) ,rgb(211, 39, 211) );;
    color:aliceblue;
    text-align: center;
    position:relative;
    overflow: hidden;
}

.hero content{
   max-width: 800px;
   padding: 0px 20px;
   z-index: 2;

}

.hero h1{
    font-size: 2rem;
    margin-bottom:1rem;
    font-weight: 800;
}

.hero p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.animated-text{
    display:inline-block;
    position:relative;
}

span{
    display: inline-block;
}

.typewriter{
    border-right: 3px solid white;
    white-space: nowrap;
    overflow: hidden;
    animation:
    typing 3.5s steps(40,end),
    blank-carpet 0.75s step-end infinite;   
}

@keyframes typing{
 from {width: 0;}
 to {width: 100%;}
 
}

.content{
    flex:1;
    padding:20px;
    background: linear-gradient(45deg, #FF5733, #33FFCE, #335BFF);

}

.footer{
    background: #335BFF;
    color: rgb(255, 255, 255);
    padding:20px 0;
    margin-top:auto;
}

.footer-content{
      display: flex;
      justify-content: center;
      max-width:1200px;
      margin: 0 auto ;
      padding:020px;
}

.footer-section{
    padding: 15px;
    text-align: center;
}

.footer-section h3{
   margin-bottom: 15px;
   font-size:1.2rem;
}

.footer-section p{
    margin-bottom: 10px;
}

.footer-bottom{
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #444;
    margin-top:20px;
}

#backToTop{
    background: #7574a9;
    color: antiquewhite;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 4px;
}

#backToTop:hover{
    background: #3a14c1;
}



